*{
    padding: 0px;
    margin: 0;
    border: 0px;

}
body {
      font-family: Arial, sans-serif;
      background-color: lightseagreen;
    }
    .container{
        margin-bottom: 80px;
       

    }
    .all-contact{
    background-color: #050505;
    color: white;
    display: flex;
    justify-content: center;

    /* gap: 50px; */
    align-items: center;
    /* flex-decoration: none; */
    /* padding: 0 200px; */

    width: 100%;
    height: 50px;
    align-content: center;
    text-align: center;
    gap: 10px;
}
.all-contact a{
    margin: 0 40px;
    text-decoration: none;
    color: white;
}
h1{
    padding: 50px 450px;
}
 
